@tailwind base;
@tailwind components;
@tailwind utilities;

.heroContainer {
  background-color: #1c2893;
  background-image: radial-gradient(circle at 0% 0%, #2296e5, transparent 30%),
    radial-gradient(circle at 0% 100%, #1e94e5, transparent 10%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.footerContainer {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  /*clip-path: polygon(-100vmax -100vmax, 100% -100vmax, 100% 100%, -100vmax -50vmax);*/
}

.hr {
  margin: 50px auto 50px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    RGBA(254, 94, 20, 0.75),
    rgba(0, 0, 0, 0)
  );
}

.sloganContainer {
  background-image: url('/assets/gcp.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.sloganContainerFilter {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sloganContainerFilter h2 {
  margin: 100px 0px;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}

.animatePic {
  animation: ease-out 1s slideIn;
}

/*****************************
**** Contact ***************
*****************************/

.styledInput {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

fieldset {
  position: relative;
}

form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  font-size: 16px;
}

input {
  width: 100%;
  height: 35px;
  padding: 7px;
  outline: none;
}

label {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
  font-weight: 500;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  pointer-events: none;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  padding: 7px;
  outline: none;
}

input[type='submit'] {
  margin-top: 2rem;
  cursor: pointer;
  background: rgb(249, 105, 14);
  color: white;
  border: none;
}

input[type='text'],
input[type='email'],
textarea {
  margin-right: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: 'all 0.2s ease-in-out';
  border: 'none';
  border-bottom: 1px solid #cdcdcd;
  padding: 0.3em 0.5em 0.2em 0em;
  text-decoration: none;
  outline: 0;
  line-height: 1em;
  margin: 0;
  width: 100%;
  font-size: 1.4em;
  font-weight: 400;
  color: black;
}

input:focus ~ label,
input[type='text']:valid ~ label,
input:not(:placeholder-shown) ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -1.6rem;
  position: absolute;
  font-size: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type='text']:focus ~ div,
input[type='email']:focus ~ div,
textarea:focus ~ div {
  width: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border-bottom-width: 0px;
}

.styledInput div {
  height: 2px;
  width: 0%;
  background-color: #316aff;
  position: absolute;
  bottom: 0;
}

@keyframes slideIn {
  from {
    margin-left: -70px;
    margin-top: -600px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    margin-top: -540px;
    opacity: 100;
  }
}

@media screen and (min-width: 768px) {
  .myShadow {
    box-shadow: 0px 20px 21px -13px #b25d43;
  }
}

@media screen and (max-width: 768px) {
  .myShadowMobile {
    box-shadow: #b25d43 0px 4px 12px;
  }
}
